html[data-theme="dark"] body {
    background: #18202b !important;
    color: #e9eef7;
}

html[data-theme="dark"] .card {
    background-color: #232d3b !important;
}

html[data-theme="dark"] .text-dark {
    color: #e9eef7 !important;
}
